<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Authors</title>
      {%load static%} {% include 'hello_index.html' %}
      <link rel="stylesheet" href="{%static 'style/authors_style.css'%}" />
    </head>
    <body>
    <div class="hello">{%block content %} {% endblock %}</div>
    <div class="writers">
      <h1 class="title">Writers</h1>
      <ul>
        {% for author in authors %}
        <li><a href="authors/{{author.id}}"> {{author.name}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
